<html>
<head>
<script src="https://unpkg.com/uport-connect/dist/uport-connect.js"></script>
</head>

<body>
<b>uPort</b>

<% if (typeof failureCount !== 'undefined') { %>
  <b>Failed attempts: <%= failureCount %></b>
<% } %>

<form action="/login/did/" method="post">
	<div>
	<label>OTP:</label>
	<input type="text" name="otp"/>
	</div>
	<div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
	<input type="submit" value="Submit"/>
	</div>
</form>

<img src="<%= qrURL %>"></img>

<script type="text/javascript">
  console.log('uPort!');
  
  /*
  var requestToken = '<%= requestToken %>'
  
  // https://github.com/uport-project/uport-js/issues/44
  window.onload = function() {
    var connect = new uportconnect.Connect('Hanson HQ');
    //var uri = 'https://id.uport.me/me?requestToken=' + requestToken;
    var topic = connect.topicFactory('access_token');
    console.log(topic)
    const uri = `https://id.uport.me/me?requestToken=${encodeURIComponent(requestToken)}&callback_url=${encodeURIComponent(topic.url)}`
    console.log(uri);
    
    connect.request({uri, topic}).then(response => {
      // send response back to server
      console.log('GOT IT?');
      
    }).catch(error => {
      console.log(error)
    })
  }
  */
  
</script>

</body>
</html>